body {
    display: flex;
    background-color: rgb(229, 255, 246);
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
}

input,
select {
    padding: 5px;
    margin: 5px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    border: 2px solid #000000;
}

button {
    width: 100px;
    padding: 5px;
    margin: auto;
    margin-top: 25px;
    background-color: #af4c4c;
    color: #ffffff;
    text-transform: uppercase;
}

.botones {
    background-color: #4CAF50;
}

span {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    margin-top: 11px;
}

a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    margin-top: auto;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    padding: 10px;
    border: 1px solid black;
}